---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div>
	<h4>{title}</h4>
	<p>{description}</p>
</div>

<style>
div{
	color: var(--red);
	background: var(--light-blue);
	padding: 16px;
	border-radius: 16px;
	height: 100%;
	box-sizing: border-box;
}
div p {
	font-size: 0.9em;
}
div h4 {
	font-size: 1.2rem;
}
</style>
