---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Grid from "../components/index/Grid.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";

const projects = [
	{
		title: "Game Master Note Taking App",
		description: "Magna magna laborum cupidatat laboris proident.",
	},
	{
		title: "Game Master Note Taking App",
		description: "Magna magna laborum cupidatat laboris proident.",
	},
	{
		title: "Game Master Note Taking App",
		description: "Magna magna laborum cupidatat laboris proident.",
	},
	{
		title: "Game Master Note Taking App",
		description: "Magna magna laborum cupidatat laboris proident.",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="main-container">
				<aside>
					<h2>Hi, I am Callum</h2>
					<p>
						Pariatur eiusmod irure sit sit et. Non veniam Lorem qui dolore commodo Lorem
						cupidatat aliqua adipisicing anim. Ipsum labore nulla exercitation ea. Id est
						laboris reprehenderit ut est magna. Excepteur nisi quis fugiat velit ex
						consequat et.
					</p>
					<p>
						Dolor velit deserunt non. Amet magna sint consectetur culpa pariatur qui nulla
						ipsum. Minim ea ad ad nisi. Exercitation ut esse consectetur cillum ea in
						minim esse amet quis nostrud est pariatur excepteur. Qui laboris culpa
						pariatur velit sunt dolore proident enim exercitation mollit id quis nulla
						non. Aute amet veniam aliqua qui sit cillum enim ipsum voluptate aliqua.
						Laboris quis in deserunt mollit enim sint ea ad dolor velit fugiat elit ad
						occaecat.
					</p>
				</aside>
				<Grid>
					{
						projects.map((proj) => (
							<ProjectCard title={proj.title} description={proj.description} />
						))
					}
				</Grid>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.main-container {
		display: flex;
	}

	aside {
		max-width: 60vw;
	}

	aside h2 {
		word-wrap: normal;
		font-size: clamp(5rem, 25vw, 12rem);
		font-weight: 900;
		font-style: italic;
		line-height: 0.9;
		letter-spacing: -0.02em;
	}
</style>
