---
import BaseHead from "../components/BaseHead.astro";
import Bento from "../components/index/Bento.astro";
import BentoCard from "../components/index/BentoCard.astro";
import BentoCardTitle from "../components/index/BentoCardTitle.astro";
import Section from "../components/Section.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script>
			import { createRandomSweepStyles } from "../scripts/sweeping-cards";
			createRandomSweepStyles();

			document.addEventListener("DOMContentLoaded", () => {
				const scrollCards = document.querySelectorAll("[data-scroll-to]");

				scrollCards.forEach((card) => {
					card.addEventListener("click", (e) => {
						e.preventDefault();
						const targetId = card.getAttribute(`data-scroll-to`);
						const targetElement = document.getElementById(targetId!);

						if (targetElement) {
							targetElement.scrollIntoView({
								behavior: "smooth",
								block: "start",
							});
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<main>
			<Bento>
				<BentoCardTitle title="Hey, I'm Callum, Welcome." className="large">
					<p>
						I am a web developer and designer, with experience building high quality user
						experiences in the fintech, gaming, and charity spaces. Have a look around to
						see some of my work.
					</p>
				</BentoCardTitle>
				<BentoCard
					href="/projects/game-master"
					title="Case Study: Game Master"
					className="wide"
				>
					<p>
						I designed and built a web app for writing and organising notes, specifically
						targetting TTRPG players. →
					</p>
				</BentoCard>
				<BentoCard title="My Experience ↓" className="tall" scrollTo="experience-section">
					<p>
						I have over 5 years experience in product management and UX design, and a
						further 1 year as a full time web developer.
					</p>
					<p>
						I am passionate about creating highly intuitive, delightful, and accessible
						digital experiences.
					</p>
				</BentoCard>
				<BentoCard title="Explore Projects →">
					<div class="hover-area">
						<p>Check out some of the other projects I have worked on.</p>
					</div>
				</BentoCard>
				<BentoCard title="Blog →" className="wide" href="/blog">
					<p>
						I sometimes write my thoughts. You can read what I have been thinking about
						here.
					</p>
				</BentoCard>
				<BentoCard title="Case Study: This Little Piggy →" className="tall">
					<p>
						I built a landing page and a simple admin workflow for a local animal charity.
					</p>
				</BentoCard>
				<BentoCard title="Case Study: playQ →" className="wide">
					<p>
						I built an app to organise and share lists of videogames. Powered by IGDB.
					</p>
				</BentoCard>
				<BentoCard title="Contact Me ↓" scrollTo="contact-section" />
			</Bento>
			<Section className="light-blue" id="experience-section">
				<div class="container">
					<h1>Experience</h1>
					<p>Tedst</p>
					<p>Tedst</p>
				</div>
			</Section>
			<Section className="black" id="contact-section">
				<div class="container">
					<h1 class="underline">Callum Kloos</h1>
					<div class="grid">
						<div>Email</div>
						<div>Phone</div>
						<div>Snail Mail</div>
					</div>
				</div>
			</Section>
		</main>
	</body>
</html>

<style>
	p {
		font-size: clamp(0.3em, 3vw + 0.3em, 0.9em);
		line-height: 1.3em;
	}

	.section {
		height: calc(100vh - 24px);
		border-radius: 8px;
		margin: 12px;
	}

	.contact {
		background: linear-gradient(89deg, var(--primary), var(--plum));
	}

	.container {
		padding: 4rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.underline {
		text-decoration: underline;
	}

	@media (max-width: 1024px) {
		p {
			display: none;
		}
	}
</style>
