---
import Bento from "~/components/bento/Bento.astro";
import BentoCard from "~/components/bento/BentoCard.astro";
import BentoCardTitle from "~/components/bento/BentoCardTitle.astro";
import SocialButton from "~/components/SocalButton.astro";

import Bluesky from "~/components/icons/bluesky.svg";
import LinkedIn from "~/components/icons/linkedin.svg";
import Email from "~/components/icons/email.svg";
import Twitter from "~/components/icons/twitter.svg";
import Github from "~/components/icons/github.svg";

import BaseLayout from "~/layouts/BaseLayout.astro";
import BentoCardText from "~/components/bento/BentoCardText.astro";
---

<BaseLayout>
	<Fragment slot="scripts">
		<script>
			import { bentoAnimations } from "../scripts/animation";
			import { sweepStyles } from "../scripts/sweeping-cards";

			sweepStyles();
			bentoAnimations();
		</script>
	</Fragment>
	<main>
		<Bento>
			<BentoCardTitle title="Hey, I'm Callum, Welcome." className="large" id="left">
				I am a web developer and designer, with experience building high quality user
				experiences in the fintech, gaming, and charity spaces. Have a look around to see
				some of my work.
			</BentoCardTitle>
			<BentoCard href="/projects/game-master" title="Case Study: Game Master" id="right">
				I designed and built a web app for writing and organising notes, specifically
				targetting TTRPG players. →
			</BentoCard>
			<BentoCard title="Explore Projects →" href="/projects" id="right">
				Check out some of the other projects I have worked on.
			</BentoCard>
			<BentoCard
				title="Case Study: playQ →"
				href="/projects/playq"
				className="very-tall"
				id="right"
			>
				I built an app to organise and share lists of videogames. Powered by IGDB.
			</BentoCard>
			<BentoCard title="Blog →" className="wide" href="/blog" id="left">
				I sometimes write my thoughts. You can read what I have been thinking about here.
			</BentoCard>
		</Bento>

		<div class="socials">
			<SocialButton id="left">
				<Bluesky slot="icon" />
				Bluesky
			</SocialButton>
			<SocialButton id="left">
				<LinkedIn slot="icon" />
				LinkedIn
			</SocialButton>
			<SocialButton id="left">
				<Github slot="icon" />
				Github
			</SocialButton>
			<SocialButton id="right">
				<Twitter slot="icon" />
				Twitter (X)
			</SocialButton>
			<SocialButton id="right">
				<Email slot="icon" />
				Email
			</SocialButton>
		</div>

		<Bento>
			<BentoCard className="large" title="Contact Me ↓" href="#contact-section" />
			<BentoCard title="My Experience ↓" href="#experience-section" id="left">
				I have over 5 years experience in product management and UX design, and a further
				1 year as a full time web developer.
			</BentoCard>
			<BentoCard
				title="Case Study: This Little Piggy →"
				href="/projects/this-little-piggy"
				id="left"
			>
				I built a landing page and a simple admin workflow for a local animal charity.
			</BentoCard>
			<BentoCardText href="#contact-section">
				I am a brilliant member of the community
			</BentoCardText>
			<BentoCard className="tall" title="Contact Me ↓" href="#contact-section" />
			<BentoCardText className="large">
				If you want to get in touch, please get in touch as quickly as possible
			</BentoCardText>
			<BentoCard title="Contact Me ↓" href="#contact-section" />
		</Bento>
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: var(--global-padding);
		margin-bottom: 240px;
	}

	.container {
		padding: 4rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.contact-card {
		width: 50vw;
		height: 80vh;
		border-radius: 16px;
		margin: auto;
		background: var(--primary);
	}

	.underline {
		text-decoration: underline;
	}

	.socials {
		width: 100%;
		display: flex;
		justify-content: stretch;
		gap: var(--global-padding);
	}

	.exp-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		min-width: 0;
	}
	.exp-left {
		width: 100%;
		min-width: 0;
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.exp-right {
		border-left: 2px solid var(--red);
		padding-left: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	@media (max-width: 1024px) {
		p {
			display: none;
		}
	}
</style>
