---
import BaseHead from "../components/BaseHead.astro";
import Bento from "../components/index/Bento.astro";
import BentoCard from "../components/index/BentoCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script>
			import { createRandomSweepStyles } from "../scripts/sweeping-cards";
			createRandomSweepStyles();
		</script>
	</head>
	<body>
		<main>
			<Bento>
				<BentoCard
					title="Hi, I am Callum"
					content="I created it."
					className="large"
					largeTitle
				/>
				<BentoCard title="Game Master" content="I created it." className="wide" />
				<BentoCard title="I can use CSS Grid" content="I created it." className="tall" />
				<BentoCard title="playQ" content="A modern video game library manager" />
				<BentoCard title="Game Master" content="I created it." className="wide" />
				<BentoCard title="Game Master" content="I created it." className="tall" />
				<BentoCard title="Blog." content="Come have a read of what I have got to say." href="/blog"/>
				<BentoCard title="Game Master" content="I created it." className="wide" />
			</Bento>
		</main>
	</body>
</html>
