---
const { pathname } = Astro.url;
const isHomePage = pathname === "/" || pathname === "";

const navItems = [
	{ label: "Home", href: isHomePage ? "#" : "/" },
	{ label: "Projects", href: "/projects" },
	{ label: "Blog", href: "/blog" },
	{ label: "Experience", href: "#experience-section" },
	{ label: "Contact", href: "#contact-section" },
];
---

<header>
	<nav>
		<div class="logo">
			<a href="/">callum kloos.</a>
		</div>
		<ul class="nav-links">
			{
				navItems.map((item) => (
					<li>
						<a href={item.href}>{item.label}</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>

<style>
	header {
		position: fixed;
		top: 12px;
		width: var(--global-width-pc);
		z-index: 100;
		margin: var(--global-padding) 6px;
		background: color-mix(in srgb, var(--card) 95%, transparent);
		backdrop-filter: blur(24px);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--global-padding) 1rem;
		max-width: 1400px;
		margin: 0 auto;
	}

	.logo a {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--white);
		text-decoration: none;
	}

	.nav-links {
		display: flex;
		gap: 2rem;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-links a {
		color: var(--white);
		text-decoration: none;
		font-size: 1rem;
		transition:
			color 0.2s ease,
			border-color 0.2s ease;
		border: 1px solid var(--red);
		padding: 4px 9px;
		border-radius: 6px;
	}

	.nav-links a:hover {
		color: var(--light-blue);
		border-color: var(--light-blue);
	}

	@media (max-width: 768px) {
		.nav-links {
			display: none;
		}
	}
</style>
