---
interface Props {
	id?: string;
	className?: string;
}

const { className, id } = Astro.props;
---

<section class={className} id={id}>
	<slot />
</section>

<style>
	section {
		height: calc(100vh - 88px);
		border-radius: 8px;
		margin: 12px;
		background: none;
	}

	.normal {
		background: var(--background);
		color: var(--foreground);
	}

	.light-blue {
		background: var(--light-blue);
		color: var(--black);
	}

	.black {
		background: var(--black);
		color: var(--primary);
	}

	.primary {
		background: var(--primary);
		color: var(--black);
	}
</style>
