---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout>

	<main>
		<section>
			<ul>
				{
				projects.map((project) => (
				<li>
					<a href={`/projects/${project.slug}`}>
						<h4>{project.data.name}</h4>
						<div class="tag-list">
							{project.data.tech.map((t) => (
							<span>{t}</span>
							))}
						</div>
					</a>
				</li>
				))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--global-padding);
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 2rem;
		background: var(--card);
		border-radius: var(--border-radius);
	}

	a {
		color: var(--foreground);
	}

	a:hover > h4 {
		color: var(--primary);
	}

	.tag-list {
		display: flex;
		gap: 6px;
	}

	.tag-list > span {
		font-size: 0.7em;
		border-radius: 24px;
		padding: 1px 12px;
		border: 1px solid var(--primary)
	}
</style>
