---
interface Props {
	className?: string;
	title: string;
	id?: string;
}

const { className, title, id } = Astro.props;
---

<div id={id} class:list={["card fade-in", className]}>
	<h1>{title}</h1>
	<slot />
</div>

<style>
	.card {
		position: relative;
		overflow: hidden;
		background: linear-gradient(220deg, var(--orange-500) 35%, var(--orange-400) 100%);
		color: var(--black);
		border-radius: 8px;
		padding: 20px;
		box-shadow: 0 4px 20px var(--black);
		z-index: 1;
	}
	.card h1 {
		line-height: 1em;
	}

	.large {
		grid-row: span 3;
	}

	.wide {
		grid-row: span 1;
	}

	.tall {
		grid-row: span 3;
	}

	@media (min-width: 1024px) {
		.card h1 {
			font-size: clamp(5rem, 8vw, 7.6rem);
		}
		.wide {
			grid-column: span 2;
		}
		.tall {
			grid-row: span 2;
		}
		.large {
			grid-column: span 2;
			grid-row: span 4;
		}
	}
</style>
