---
interface Props {
	href?: string;
	className?: string;
	id?: string;
}

const { id, href, className } = Astro.props;
---

<a id={id} href={href} class:list={["card fade-in", className]} data-bento-card>
	<slot />
</a>

<style>
	.card {
		position: relative;
		overflow: hidden;
		background: var(--card);
		color: var(--white);
		border-radius: var(--border-radius);
		padding: 28px;
		box-shadow: var(--box-shadow);
		transition: color 0.3s ease;
		z-index: 1;
		min-height: 0;
	}
	.card:hover {
		color: var(--dark-red);
	}
	.card::before {
		content: "";
		position: absolute;
		background: var(--light-blue);
		transition: all 0.3s ease;
		z-index: -1;
	}

	.large {
		grid-row: span 3;
	}

	.wide {
		grid-row: span 1;
	}

	.tall {
		grid-row: span 2;
	}

	.very-tall {
		grid-row: span 3;
	}

	@media (min-width: 1024px) {
		.wide {
			grid-column: span 2;
		}
		.tall {
			grid-row: span 2;
		}
		.large {
			grid-column: span 2;
			grid-row: span 3;
		}
	}
</style>
