---
interface Props {
	href?: string;
	className?: string;
	title: string;
	scrollTo?: string;
}

const { href, className, title, scrollTo } = Astro.props;
---

<a href={href} class:list={["card", className]} data-scroll-to={scrollTo}>
	<h2>{title}</h2>
	<slot />
</a>

<style>
	.card {
		position: relative;
		overflow: hidden;
		background: none;
		color: var(--red);
		border-radius: 8px;
		padding: 20px;
		box-shadow: 0 4px 20px color-mix(in srgb, var(--red) 10%, transparent);
		transition: color 0.3s ease;
		z-index: 1;
	}
	.card::before {
		content: "";
		position: absolute;
		background: var(--light-blue);
		transition: all 0.3s ease;
		z-index: -1;
	}
	.card:hover::before {
		left: 0;
	}

	.card h2 {
		font-size: clamp(2rem, 3vw, 4rem);
		line-height: 1em;
	}

	.large {
		grid-row: span 2;
	}

	.wide {
		grid-row: span 1;
	}

	.tall {
		grid-row: span 2;
	}

	@media (min-width: 1024px) {
		.wide {
			grid-column: span 2;
		}
		.tall {
			grid-row: span 2;
		}
		.large {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
</style>
